<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple React App: Show Channels</title>
</head>
<body>
    <div id="root"></div>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type="text/babel">

        function ChannelList({ onSelectChannel, setUsername }) {
            // React component that shows a channel list
            // content is fetched from the university hub (works only on university network, use VPN)
            //
            const [channels, setChannels] = React.useState([]);
            const [searchQuery, setSearchQuery] = React.useState("");

            React.useEffect(() => {
                // Fetch list of channels
                fetch("http://127.0.0.1:5555/channels") // university hub
                    .then(response => response.json())
                    .then(data => setChannels(data.channels));
            }, []);  // empty list here means that this effect will run only once (you can add a variable to run it on change)


            const filteredChannels = channels.filter(channel =>
                channel.name.toLowerCase().includes(searchQuery.toLowerCase())
            );

            return (
                <div>
                    <h2>Channel List</h2>
                    <input
                        type="text"
                        placeholder="Search channels"
                        value={searchQuery}
                        onChange={e => setSearchQuery(e.target.value)}
                    />
                    <ul>
                        {filteredChannels.map(channel => (
                            <li key={channel.id}>
                                {channel.name} (URL: {channel.endpoint}, Type: {channel.type_of_service})
                                <button onClick={() => onSelectChannel(channel)}>Select</button>
                            </li>
                        ))}
                    </ul>
                    <input
                        type="text"
                        placeholder="Username"
                        onChange={e => setUsername(e.target.value)}
                    />
                </div>
            );
        }

        function ChannelMessages({ selectedChannel, username }) {
            const [messages, setMessages] = React.useState([]);
            const [newMessage, setNewMessage] = React.useState('');
            const [reload, setReload] = React.useState(0);

            React.useEffect(() => {
                if (selectedChannel) {
                    fetch(`${selectedChannel.endpoint}`, {
                            headers: {
                                "Authorization": `authkey ${selectedChannel.authkey}`
                            }
                        })
                        .then(response => response.json())
                        .then(data => setMessages(data));
                }
            }, [selectedChannel, reload]);

            if (!selectedChannel) {
                return <div>Please select a channel to view messages.</div>;
            }

            const handleSendMessage = () => {
                fetch(`${selectedChannel.endpoint}`, {
                    method: 'POST',
                    headers: {
                        "Authorization": `authkey ${selectedChannel.authkey}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        sender: username,
                        content: newMessage,
                        timestamp: new Date().toISOString(),
                    }),
                })
                .then(() => setNewMessage(""))
                .then(() => setReload(Math.random()));
            };

            return (
                <div>
                    <h2>Messages for {selectedChannel.name}</h2>
                    <ul>
                        {messages.map(message => (
                            <li>{message.sender}: {message.content} <br/> {message.timestamp} </li>
                        ))}
                    </ul>

                    <input type="text"
                        value={newMessage}
                        onChange={e => setNewMessage(e.target.value)}
                        placeholder="Write message"/>
                    <button onClick={handleSendMessage}>Send</button>
                </div>
            );
        }

        function App() {
            const [selectedChannel, setSelectedChannel] = React.useState(null);
            const [username, setUsername] = React.useState(null);

            return (
                <div>
                    <h1>Chat client: List of channels</h1>
                    <ChannelList onSelectChannel={setSelectedChannel} setUsername={setUsername} />
                    <ChannelMessages selectedChannel={selectedChannel} username={username} />
                </div>
            );
        }

        ReactDOM.render(<App />, document.getElementById('root'));
    </script>
</body>
</html>
