<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple React App: Show Channels</title>
</head>
<body>
    <div id="root"></div>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <script type="text/babel">

        function ChannelList({ onSelectChannel, setUsername }) {
            // React component that shows a channel list
            // content is fetched from the university hub (works only on university network, use VPN)
            //
            const [channels, setChannels] = React.useState([]);
            const [searchQuery, setSearchQuery] = React.useState("");

            React.useEffect(() => {
                // Fetch list of channels
                fetch("http://127.0.0.1:5555/channels") // university hub
                    .then(response => response.json())
                    .then(data => setChannels(data.channels));
            }, []);  // empty list here means that this effect will run only once (you can add a variable to run it on change)


            const filteredChannels = channels.filter(channel =>
                channel.name.toLowerCase().includes(searchQuery.toLowerCase())
            );

            return (
                <div className="">
                    <div className="flex flex-col justify-between h-screen">
                        <div className="border border-gray-400 bg-white p-2 m-2 rounded-md">
                            <h1 className="ml-2 mt-4 text-xl font-bold">List of channels</h1>
                            <div className="mt-2 ml-2 flex space-x-2 w-fit items-center border-b">
                                <svg width="25px" height="25px"  viewBox="0 0 1024 1024" className="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" strokeWidth="0"></g><g id="SVGRepo_tracerCarrier" strokeLinecap="round" strokeLinejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M448 768A320 320 0 1 0 448 128a320 320 0 0 0 0 640z m297.344-76.992l214.592 214.592-54.336 54.336-214.592-214.592a384 384 0 1 1 54.336-54.336z" fill="#000000"></path></g></svg>
                                <input
                                    className="py-1 px-2 focus:ring-0 focus:border-transparent focus:outline-none"
                                    type="text"
                                    placeholder="Search channels"
                                    value={searchQuery}
                                    onChange={e => setSearchQuery(e.target.value)}
                                />
                            </div>
                            <ul className="list-disc list-outside ml-8 mt-2">
                                {filteredChannels.map((channel, index) => (
                                    <li key={"channel-" + index} className="">
                                        <div>
                                            <p>{channel.name}</p>
                                            <p className="text-xs text-gray-400">(URL: {channel.endpoint}, Type: {channel.type_of_service})</p>
                                            <button className="bg-gray-100 px-2 rounded-md border border-gray-400" onClick={() => onSelectChannel(channel)}>Select</button>
                                        </div>
                                    </li>
                                ))}
                            </ul>
                        </div>
                        <input
                            className="mx-2 mb-4 border rounded-md py-1 px-2"
                            type="text"
                            placeholder="Username"
                            onChange={e => setUsername(e.target.value)}
                        />
                    </div>
                </div>
            );
        }

        function ChannelMessages({ selectedChannel, username }) {
            const [messages, setMessages] = React.useState([]);
            const [newMessage, setNewMessage] = React.useState('');
            const [reload, setReload] = React.useState(0);

            React.useEffect(() => {
                if (selectedChannel) {
                    fetch(`${selectedChannel.endpoint}`, {
                            headers: {
                                "Authorization": `authkey ${selectedChannel.authkey}`
                            }
                        })
                        .then(response => response.json())
                        .then(data => setMessages(data));
                }
            }, [selectedChannel, reload]);

            if (!selectedChannel) {
                return <div>Please select a channel to view messages.</div>;
            }

            const handleSendMessage = () => {
                var timestamp = (new Date()).toISOString().slice(0,-1) + "000+00:00";
                
                fetch(`${selectedChannel.endpoint}`, {
                    method: 'POST',
                    headers: {
                        "Authorization": `authkey ${selectedChannel.authkey}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        sender: username,
                        content: newMessage,
                        timestamp: timestamp,
                    }),
                })
                .then(() => setNewMessage(""))
                .then(() => setReload(Math.random()));
            };

            return [
                    <div>
                        <h2 className="text-xl">{selectedChannel.name}</h2>
                        <ul className="">
                            {messages.map(message => (
                                <li key={message.timestamp}>{message.sender}: {message.content} <br/> {message.timestamp} </li>
                            ))}
                        </ul>
                    </div>,
                    <div className="">
                        <input type="text"
                            className="mx-2 mb-4 border rounded-md py-1 px-2 w-96"
                            value={newMessage}
                            onChange={e => setNewMessage(e.target.value)}
                            placeholder="Write message"/>
                        <button onClick={handleSendMessage}>Send</button>
                    </div>
            ];
        }

        function App() {
            const [selectedChannel, setSelectedChannel] = React.useState(null);
            const [username, setUsername] = React.useState(null);
            const [showChannelList, setShowChannelList] = React.useState(true);

            return (
                <div className="flex relative h-full">
                    {showChannelList && 
                        <div className="bg-gray-200 h-screen w-1/4 relative border-r border-gray-700">
                            <ChannelList onSelectChannel={setSelectedChannel} setUsername={setUsername} />

                            <button className="absolute inset-y-0 -right-8 rotate-180" onClick={() => setShowChannelList(false)}>
                                <svg width="30px" height="30px" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" strokeWidth="0"></g><g id="SVGRepo_tracerCarrier" strokeLinecap="round" strokeLinejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M9.293 7.707 13.586 12l-4.293 4.293 1.414 1.414L16.414 12l-5.707-5.707z"></path></g></svg>
                            </button>
                        </div>
                    }
                    {!showChannelList && 
                        <button className="absolute inset-y-0 left-0" onClick={() => setShowChannelList(true)}>
                            <svg width="30px" height="30px" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" strokeWidth="0"></g><g id="SVGRepo_tracerCarrier" strokeLinecap="round" strokeLinejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M9.293 7.707 13.586 12l-4.293 4.293 1.414 1.414L16.414 12l-5.707-5.707z"></path></g></svg>
                        </button>
                    }
                    <div className="flex flex-col justify-between h-screen pl-16 pt-8 w-full">
                        <ChannelMessages selectedChannel={selectedChannel} username={username} />
                    </div>
                </div>
            );
        }

        ReactDOM.render(<App />, document.getElementById('root'));
    </script>
</body>
</html>
